.user-form {
	min-height: 30vh;
	background-color: aqua;
	width: 70%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	padding-top: 10px;
}

.label-part {
	width: 40%;
}

.input-part {
	width: 50%;
}

label {
	display: block;
	text-align: end;
	margin-bottom: 0.5rem;
}

input {
	display: block;
	margin-left: 10px;
	margin-bottom: 0.3rem;
}

.gender-selection{
	display: flex;
    align-items: flex-start;
}

.address-field {
	margin-left: 0.6rem;
}


