.title-bar {
	min-height: 53px;
	display: flex;
    justify-content: center;
    align-items: center;
	margin: 0px;
}

.title-bar p {
	margin: 0px;
	margin-left: 1rem;
}

.comment-details {
	height: 100%;
}

.description-bar {
	text-align: center;
}