.posts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main {
	width: 70%;
	margin: 0 auto;
	border: 1px solid black;
	margin-top: 20px;
}

.main h3 {
	text-align: center;
}